# Files for source distribution
#
# Check: check-manifest -u -v

# Top-level
include README.rst
include CHANGELOG.rst
include LICENSE
include setup.py
include setup.cfg
include requirements.txt
include requirements-dev.txt
include _version.py

# Docs
graft doc
global-exclude .*/*
global-exclude _*/*

# Packages get included automatically
